<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <a class="navbar-brand" href="#">
    <img
      src="https://appvital.com/images/logo-appvital-dark.png"
      width="auto"
      height="50"
      alt=""
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container py-3">
  <div class="row mb-3">
    <div clas="col">
      <h5>1. Single File Upload:</h5>
      <app-single-file-upload></app-single-file-upload>
    </div>
  </div>
  <div class="row mb-3">
    <div clas="col">
      <h5>2. Multiple File Upload:</h5>
      <app-multi-file-upload></app-multi-file-upload>
    </div>
  </div>
  <div class="row mb-3">
    <div clas="col">
      <h5>3. Generate Thumbnail:</h5>
      <app-generate-thumbnails></app-generate-thumbnails>
    </div>
  </div>
  <div class="row mb-3">
    <div clas="col">
      <h5>4. Watermark:</h5>
      <app-apply-watermark></app-apply-watermark>
    </div>
  </div>
</div>
